<div
        class="z-10 transition-all"
        x-bind:class="
      searchIsOpen
        ? 'relative opacity-100 duration-200 ease-in '
        : 'hidden opacity-0 duration-300 ease-out'
    "
        role="dialog"
        aria-modal="true"
>
    <!--
      Background backdrop, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
            class="fixed inset-0 bg-gray-500 bg-opacity-25 backdrop-blur transition-opacity"
    ></div>

    <div ref="target"
         class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20"
         x-bind:class="
        searchIsOpen
          ? 'scale-100 opacity-100 duration-200 ease-in'
          : 'scale-95 opacity-0 duration-300 ease-out'
      "
    >
        <!--
          Command palette, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 scale-95"
            To: "opacity-100 scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 scale-100"
            To: "opacity-0 scale-95"
        -->
        <div
                class="mx-auto max-w-xl transform rounded-xl bg-white p-2 shadow-2xl ring-1 ring-black ring-opacity-5 transition-all"
        >
            <div class="flex flex-row items-start justify-between">
                <input
                        type="text"
                        x-model="query"
                        @input.debounce.250="launchSearch()"
                        class="w-full rounded-md border-0 bg-gray-100 px-4 py-2.5 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="Search..."
                        role="combobox"
                        aria-expanded="false"
                        aria-controls="options"
                />
                <button class="w-32 " @click="searchIsOpen=false">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 inline-block text-cta-dark">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                    <span class="font-montserrat-semi-bold text-cta-dark">Fermer</span>
                </button>
            </div>

            <!-- Results, show/hide based on command palette state. -->
            <p>
                There were <span x-text="totalHits"></span> total matches.
            </p>
            <ul
                    class="-mb-2 max-h-72 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800"
                    id="options"
                    role="listbox"
            >
                <!-- Active: "bg-indigo-600 text-white" -->
                <template x-for="result in results">
                    <li class="cursor-default select-none rounded-md px-4 py-2 hover:bg-cta-dark hover:text-white"
                        role="option"
                        tabindex="-1">
                        <a :href="result.url" class="flex flex-grow" x-text="result.name"></a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>