<ul class="pt-2 xl:pt-6 grid grid-cols-1 gap-1 xl:gap-2 xl:grid-cols-2 my-2">
    {% for item in posts %}
        <li class="rounded-lg p-2 xl:p-4">
            <a
                    href="{{ item.url }}"
                    class="flex flex-col justify-between items-start border border-greylight shadow-md p-4 block min-h-[6rem]">
                <h3 class="font-montserrat-semi-bold text-sm xl:text-lg text-cta-dark hover:text-cta-light">
                    {{ item.post_title }}
                </h3>
                <span class="mt-2 font-montserrat-light text-sm text-cta-primary">{{ item.excerpt }}</span>
            </a>
        </li>
    {% endfor %}
</ul>