<div class="wrap">
    <h2>Pivot</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/wp-admin/admin.php?page=pivot_filtres">
                Les types d'offres chez Pivot
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://pivotgest.tourismewallonie.be/PivotGest-4.0.0/" target="_blank">
                https://pivotgest.tourismewallonie.be/PivotGest-4.0.0/
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://organismes.tourismewallonie.be/doc-pivot-gest/" target="_blank">
                https://organismes.tourismewallonie.be/doc-pivot-gest/
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://walloniebelgiquetourisme.be/" target="_blank">
                https://walloniebelgiquetourisme.be/
            </a>
        </li>

        <li class="list-group-item">
            <a href="https://www.famenneardenne.be/" target="_blank">
                https://www.famenneardenne.be/
            </a>
        </li>
        <li class="list-group-item">
            Personne de contact CGT :
            aurelie.billon@tourismewallonie.be
        </li>
    </ul>
</div>