<div class="wrap">
    <h2>Debug de l'offre {{ offre.nom }} {{ offre.codeCgt }}</h2>
    {% include 'admin/_specifications.html.twig' %}
    <div class="">
        {{ offre.dataRaw }}
    </div>
</div>