<h2 class="text-white lh-100">{{ title ? title : 'Page non trouvée' }}</h2>
<p class="fs-basic fs-xl-big-1 text-white px-0 col-12 col-xl-9">
    Cette page n'existe plus ou un lien est brisé
    <br/>{{ url }}
</p>

