 <div
      class="bg-bglighter grid grid-cols-[repeat(auto-fill,minmax(4rem,auto))] md:grid-cols-[repeat(6,auto)] gap-3 justify-around items-center spa4ce-x-2 p-12 ">
    <a href="http://www.geoparkfamenneardenne.be/" class="">
      <img src="/images/geopark.jpg" alt="geopark"
           title="Geopark"
           class="h-16 grayscale hover:grayscale-0"/>
    </a>
    <a href="https://www.famenneardenne.be/fr/" class="">
      <img src="/images/img_sponsor01.png" alt="adl"
           title="Agence de développement local"
           class="h-16 grayscale hover:grayscale-0"/>
    </a>
    <a href="https://cap.marche.be/" class="">
      <img src="/images/img_sponsor02.png"
           title="Famenne Ardenne"
           alt="famenne ardenne" class="h-16 grayscale hover:grayscale-0"/>
    </a>
    <a href="http://www.paysdefamenne.be/" class="">
      <img src="/images/img_sponsor03.png"
           alt="cap commerçants" class="h-16 grayscale hover:grayscale-0"/>
    </a>
    <a href="https://www.marche.be/economie" class="">
      <img src="/images/img_sponsor04.png"
           alt="mcfa" class="h-16 grayscale hover:grayscale-0"/>
    </a>
    <a href="http://mcfa.marche.be/" class="">
      <img src="/images/img_sponsor05.png"
           alt="pays famenne" class="h-16 grayscale hover:grayscale-0"/>
    </a>
  </div>