{% include '@VisitTail/article/_header_article.html.twig' %}
{% include '@VisitTail/article/_cadre.html.twig' %}
<main class="container mx-auto">
    <article
            class="grid grid-cols-1 xl:grid-cols-2 items-start mt-2 xl:mt-4 mx-auto px-4">
        <div class="p-8">
            <h1 class="font-bold text-2xl text-caractere">{{ post.post_title }}</h1>
            {% include '@VisitTail/article/_body.html.twig' %}
        </div>
        <aside class="p-8">
            {% include '@VisitTail/article/_share.html.twig' %}
            {% include '@VisitTail/article/_tags.html.twig' %}
            {% include '@VisitTail/article/_see_also.html.twig' %}
        </aside>
    </article>
</main>
{% include '@VisitTail/_footer.html.twig' %}